Use RSA as digest encryption algorithm instead of sha256RSA

Currently, jsign-signed EXE files have "sha256RSA" (1.2.840.113549.1.1.11) as "Digest encryption algorythm" in the signature.
See ![screenshot](https://user-images.githubusercontent.com/3315/125463248-b2b12623-6064-4417-a27d-3001e40b4855.png).

Though this does not seem to affect Windows signature verification, it seems common to use "RSA" (1.2.840.113549.1.1.1) instead. Microsoft's signtool and osslsigncode produce signatures with RSA instead of sha256RSA.
Also, the only available(?) [Authenticode specification](http://download.microsoft.com/download/9/c/5/9c5b2167-8017-4bae-9fde-d599bac8184a/authenticode_pe.docx) (from 2008 and obsolete, but still) mentions only RSA and DSA as supported digestEncryptionAlgorithm.
It seems appropriate to change jsign behavior to produce signatures with "RSA" digest encryption algorythm or at least provide an option to set the algorythm.

This field is managed by Bouncy Castle. If there is no impact on the validity nor the size of the signature I'm tempted to leave it as is for now. I think the issue should be reported to Bouncy Castle first, the `DefaultCMSSignatureEncryptionAlgorithmFinder` class handles the algorithms up to `sha1withRSA`, I wonder if there is reason justifying the lack of recent algorithms or if this was simply overlooked.

Thank you for the reply.
[DefaultCMSSignatureEncryptionAlgorithmFinder](https://github.com/bcgit/bc-java/blob/b35d626619a564db860e59e1cda353dec8d7a4fa/pkix/src/main/java/org/bouncycastle/cms/DefaultCMSSignatureEncryptionAlgorithmFinder.java#L46) in Bouncy Castle references [RFC5754 section 3.2](https://datatracker.ietf.org/doc/html/rfc5754#section-3.2) which, if I am reading this correctly, says "old, sha1-times rsaEncryption can be used, but new shaXXXWithRSAEncryption can be used as well":
> [RFC3370], Section 3.2, specifies the conventions for RSA with SHA-1 (RSASSA-PKCS1-v1_5) public key algorithm identifiers, parameters, public keys, and signature values.
> RSA with SHA2 algorithms uses the same conventions for these public key algorithm identifiers, parameters, public keys, and signature values.  RSA (RSASSA-PKCS1-v1_5) [RFC3447] MAY be used with SHA-224, SHA-256, SHA-384, or SHA-512. 

Bounce Castle seems to have chosen to use those "MAY" clause, but conveniently left the option to customize the behavior. I do not think there is an issue to report to Bounce Castle.

However, these considerations might not be that relevant as (as I understand) Authenticode can deviate from the standards. What can be seen in practice is that Microsoft's "reference" tool signtool.exe uses "RSA" signature algorithm for all digest algorithms - this is the main reason I think it makes sense to use the same behavior - less differences form the de facto standard - less likely to get issues with the signature verification by in-the-field tools.

btw, I have updated the pull request with other supported SHA2 digest algorithms. However, at this stage the patch can be to use RSA signature all the time (as all of the supported DigestAlgorithm's result in RSA signing).

I'm interpreting the RFC differently, when it says:

> RSA MAY be used with SHA-224, SHA-256, SHA-384, or SHA-512

It simply states that it's possible to combine these digest algorithms with RSA (i.e. the digest lengths supported are defined exactly), it doesn't refer explicitly to the `rsaEncryption` algorithm identifier. For that the relevant parts are in RFC 5754:

> RFC 3370, Section 3.2, specifies the conventions for RSA with SHA-1 public key algorithm identifiers, parameters, public keys, and signature values. RSA with SHA2 algorithms uses the same conventions for these public key algorithm identifiers, parameters, public keys, and signature values.

and in RFC 3370:

> CMS implementations that include the RSA signature algorithm MUST support the `rsaEncryption` signature value algorithm identifier, and CMS implementations MAY support RSA signature value algorithm identifiers that specify both the RSA signature algorithm and the message digest algorithm.

This means that:
* `rsaEncryption` must be supported by a conformant implementation, but supporting `sha*withRSA` is optional. So it's indeed safer to always use `rsaEncryption`.
* If BouncyCastle decided to use `rsaEncryption` in `DefaultCMSSignatureEncryptionAlgorithmFinder` for MD5 and SHA-1 (that wasn't mandatory), then the same reasoning still applies for SHA-2 and the class should be updated for consistency.

I don't mind applying the patch to Jsign but I really think this change should be suggested to Bouncy Castle.


Seems like our understanding of RFCs is alike. Good find that rsaEncryption support is actually mandated by RFC 3370 (your third quote). It looks indeed that the part should apply to RFC 5754 / SHA2 digests as well. There was also alike conclusion in an openssl [discussion](https://github.com/openssl/openssl/issues/11413#issuecomment-604543360).

I see that that using sha*withRSA values instead of rsaEncryption was quite [deliberate decision](https://github.com/bcgit/bc-java/commit/cc4e694c6a9037dfe107f2fa1d9b9249082aa174) by Bouncy Castle, but I've submitted a [question](https://github.com/bcgit/bc-java/issues/995) per your suggestion.

Hi Emmanuel,
Seems like it can take time for the Bouncy Castle maintainers to handle the question I posted. Do you think it would make sense to do the proposed change in jsign codebase (and then potentially drop it if this is addressed in the future BC update)?

@ebourg Do you think this #96 can be merged?

Yes, I'll merge it into the next release.

Thank you!